<h3><%= @recipe_list.name %></h3>
<% if @recipe_list.recipes.empty? %>
 <h4><%= t(:empty_list)%></h4>
<% end %>
<% @recipe_list.recipes.each do |recipe| %>
  <div id="recipe<%= recipe.id %>">
    <h4><%= link_to recipe.title, recipe %></h4>
    <%= link_to 'Remover', remove_from_list_recipe_path(recipe: recipe),
     method: :delete %>
  </div>
<% end %>
