<h3><%= @recipe.title %> </h3>

<%if @recipe.pending? %>
  <p>Receita Aguardando Aprovação</p>
<% end %>

<h4>
  Receita enviada por <%= @recipe.user.email %>
<%if current_user == @recipe.user %>
  <%= link_to 'Editar', edit_recipe_path(@recipe) %>
<% end %>
</h4>
<h3> Detalhes </h3>
<p>
  <strong>Imagem da Receita</strong>
  <%= image_tag @recipe.img%>
</p>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>
<h3> Ingredientes </h3>
<p><%= @recipe.ingredients %></p>
<h3> Como Preparar </h3>
<p><%= @recipe.cook_method %></p>

<%= form_for @list_item, url: add_to_list_recipe_path do |f| %>

  <%= f.label :recipe_list_id, 'Minhas Listas' %>
  <%= f.collection_select(:recipe_list_id, @recipe_lists, :id, :name) %>

  <%= f.submit 'Adicionar à Lista' %>
<% end %>
