<h3><%= @recipe.title %> </h3>

<%if @recipe.pending? %>
  <p>Receita Aguardando Aprovação</p>
<% end %>
<%if current_user && current_user.admin?%>
  <%= link_to t(:activate), activate_recipe_path(@recipe), method: :post %>
  <%= link_to t(:reject), reject_recipe_path(@recipe), method: :post %>
<% end %>
<h4>
  Receita enviada por <%= @recipe.user.email %>
<%if current_user == @recipe.user %>
  <%= link_to t(:edit), edit_recipe_path(@recipe) %>
<% end %>
</h4>
<h3> Detalhes </h3>
<p>
  <strong>Imagem da Receita</strong>
  <%= image_tag @recipe.img%>
</p>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>
<h3> Ingredientes </h3>
<p><%= @recipe.ingredients %></p>
<h3> Método de Preparo </h3>
<p><%= @recipe.cook_method %></p>

<%= form_for @list_item, url: add_to_list_recipe_path do |f| %>

  <%= f.label :recipe_list_id, t(:my_lists) %>
  <%= f.collection_select(:recipe_list_id, @recipe_lists, :id, :name) %>

  <%= f.submit t(:add_to_list) %>
<% end %>
