<% if current_user && current_user.admin? %>
<nav class ="navbar navbar-expand-xs navbar-dark bg-dark">
<% else %>
<nav class ="navbar navbar-expand-lg navbar-dark bg-dark">
<% end %>
  <div class="container ">

    <div class="form_group form-control-sm mb-2">
      <%= form_tag search_recipes_path, method: :get do %>
        <div class="input-group ">
          <%= text_field_tag :term, '',placeholder:t(:search_here) %>
          <div class="input-group-append">
            <%= submit_tag t(:search), class:'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="clearfix">
      <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSite" aria-expanded="false" aria-controls="navbarSite">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav float-right">

          <% if user_signed_in? %>

            <li class="nav-item">
              <%= link_to t(:new_recipe), new_recipe_path, class:"nav-link " %>
            </li>

            <li class="nav-item">
              <%= link_to t(:my_recipes), my_recipes_path, class:"nav-link " %>
            </li>

            <li class="nav-item">
              <%= link_to t(:my_lists), recipe_lists_path, class:"nav-link" %>
            </li>

          <% end %>
          <% if current_user && current_user.admin? %>

            <li class="nav-item">
              <%= link_to t(:new_recipe_type), new_recipe_type_path, class:"nav-link " %>
            </li>

            <li class="nav-item">
              <%= link_to t(:new_cuisine), new_cuisine_path, class:"nav-link " %>
            </li>

            <li class="nav-item">
              <%= link_to t(:pendind_recipes), pending_recipes_path, class:"nav-link " %>
            </li>

          <%end%>
        </ul>
      </div>
    </div>
  </div>
</nav>
