<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <nav>
      <% if user_signed_in? %>
        <h4>Olá, <%= current_user.email %></h4>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
        <%= link_to 'Enviar uma receita', new_recipe_path %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
      <%= link_to 'Enviar tipo de receita', new_recipe_type_path %>
      <%= link_to 'Enviar cozinha', new_cuisine_path %>
    </nav>

    <%= form_tag search_path, method: :get do %>
      <%= label_tag :term, 'Busca' %>
      <%= text_field_tag :term %>
      <%= submit_tag 'Buscar' %>
    <% end %>
    <%= yield %>
    <br/>
    <br/>
    <%= link_to 'Voltar', root_path%>
  </body>
</html>
